*{
    margin: 0;
    padding: 0;
}
html, body{

}
.top{
    background-image: url(developer\ \(1\).png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top h2, h3{
    color: white;
    margin: 0 auto;
    max-width: 900px;
    padding-top: 4px;
    padding-left: 16px
}
.top h2{
    font-size: 60px;
}
.top h2 span{
    font-size: 90px;
}
.top h3{
    font-size: 40px;
}
.center div{
    background-color: black;
    padding: 72px;
    height: 15vh;
}
.center div h2{
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}
.center div h2 span{
    font-size: 70px;
    font-weight: 600;
}
.card ul{
    display: flex;
    text-decoration: none;
    
}
.card ul li{
    text-decoration: none;
}