* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bce8f0;
  }
  nav{
    padding: 20px 10%;
    height: 15vh;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    margin-right: 15%;
     font-weight: 600;
   
  }
  nav ul li img{
    width: 100px;
  }
  nav ul li a{
    text-decoration: none;
    cursor: pointer;
  }
  section{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-section{
width: 40%;
  }
  .left-section h1{
    font-size: 60px;
  }

  .left-section p{
    padding: 4% 0;

  }
  .left-section button{
    padding: 8px;
    background-color: #3d855b;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 10px;

  }
  button:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
  }

  .right-section{
    width: 40vw;

  }
  .right-section img{
    padding: 5px;
    size: 20%;

  }