
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

}
div{
    position: relative;
    z-index: 1;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 9em;
    color: white;
    filter: blur(2px);
}
ul{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
ul li{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    list-style: none;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: blur(5px);

}
ul li:nth-child(odd){
    animation: animationodd 6s linear infinite;

}
@keyframes animationodd{
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(300px,-600px) scale(12);
        opacity: 0;
    }
}
ul li:nth-child(even){
    animation: animationeven 6s linear infinite;

}
@keyframes animationeven{
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(-300px,-600px) scale(12);
        opacity: 0;
    }
}
ul li:nth-child(1){
    animation-delay: 0s;
    background: #ff0000;
}
ul li:nth-child(2){
    animation-delay: 1s;
    background: green;
}
ul li:nth-child(3){
    animation-delay: 2s;
    background: yellow;
}
ul li:nth-child(4){
    animation-delay: 3s;
    background: blue;
}
ul li:nth-child(5){
    animation-delay: 4s;
    background: brown;
}
ul li:nth-child(6){
    animation-delay: 5s;
    background: orange;
}